@page
@using Project_Cinema_PRN231.domain.orderdetail
@model Library.Pages.Admin.OrderManagementModel
@{
    
    Layout = "Shared/_LayoutAdmin";
    var listAllOrder = ViewData["OrderDetailDto"] as List<OrderDetailDto>;
}
<div id="main">
    <header class="mb-3">
        <a href="#" class="burger-btn d-block d-xl-none">
            <i class="bi bi-justify fs-3"></i>
        </a>
    </header>

    <div class="page-heading">
        <div class="page-title">
            <div class="row">
                <div class="col-12 col-md-6 order-md-1 order-last">
                    <h3>Order Management</h3>
                </div>
                <div class="col-12 col-md-6 order-md-2 order-first">
                    <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="dashboard">Dashboard</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Order Management</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
        <section class="section">
            <div class="card">
                
                <div class="card-header">
                    <button data-toggle="modal" data-target="#modalAdd">Add a new book</button>
                    <button data-toggle="modal" onclick="exportData()" data-target="#modalAdd">Export File</button>
                </div>
                <div class="card-body">
                    <table class="table table-striped" id="table1">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>User Name</th>
                                <th>Order Date</th>
                                <th>Movie Name</th>
                                <th>Room Name</th>
                                <th>Price</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var item in listAllOrder)
                            {
                                <tr>

                                    <td>@item.Id</td>
                                    <td>@item.UserName</td>
                                    <td>
                                        @item.BookingDate
                                    </td>
                                    <td>@item.MovieName</td>
                                    <td>@item.RoomName</td>
                                    <td>@item.Price</td>
                                    <td>
                                        <!--Modal trigger-->
                                       @*  <a data-toggle="modal" data-target="#modalEdit" class='sidebar-link clicking' data-orderid="@item.OrderId" data-status="@item.Status" data-address="@item.Address">
                                            <i class="fa fa-pencil"></i>

                                        </a>
                                        &nbsp; *@
                                        <a data-toggle="modal" data-target="#modalView" class='sidebar-link clickingView' data-orderid="@item.Id" 
                                        data-username="@item.UserName" data-bookingdate="@item.BookingDate" data-movename ="@item.MovieName" data-lot ="@item.Lot"
                                        data-roomname ="@item.RoomName" data-buildingname="@item.BuildingName" data-price ="@item.Price" data-moveimage="@item.MovieImage">

                                            <i class="fa fa-eye"></i>
                                        </a>
                                        <!-- End Modal trigger -->
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>

        </section>
    </div>


</div>
@* <div class="modal hide fade" id="modalEdit">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <form asp-page="/Admin/OrderManagement" asp-page-handler="EditOrder" method="POST" enctype="multipart/form-data">
                <input type="hidden" id="orderid" name="id">
                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Edit Order</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                
                <!-- Modal body -->
                <div class="modal-body">
                    <div class="form-group">
                        <label for="address" class="col-form-label">Address:</label>
                        <input class="form-control" type="text" name="address" id="address" />
                    </div>

                    <div class="form-group">
                        <label for="status" class="col-form-label">Status:</label>
                        <select class="form-control" id="status" name="status">
                            <option value="Pending">Pending</option>
                            <option value="Cancelled">Cancelled</option>
                            <option value="Completed">Completed</option>
                        </select>

                    </div>
                </div>
                
                <!-- Modal footer -->
                <div class="modal-footer">
                    <input type="submit" value="Save" class="btn btn-primary" />
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>

            </form>
        </div>
    </div>
</div> *@

<div class="modal hide fade" id="modalView">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title">Order Information</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <div class="form-group">
                    <label for="publisher" class="col-form-label">Order ID:</label>
                    <input type="text" class="form-control" id="orderId" disabled>
                </div>
                <div class="form-group">
                    <label for="publisher" class="col-form-label">User Name:</label>
                    <input type="text" class="form-control" id="usernames" disabled>
                </div>
                <div class="form-group">
                    <label for="orderDate" class="col-form-label">Order Date:</label>
                    <input type="text" class="form-control" id="orderDate" disabled>
                </div>
                <div class="form-group">
                    <label for="movieName" class="col-form-label">Movie Name:</label>
                    <input type="text" class="form-control" id="movieName" disabled>
                </div>
                <div class="form-group">
                    <label for="movieImage" class="col-form-label">Movie Image:</label>
                    <input type="text" class="form-control" id="movieImage" disabled>
                </div>
                <div class="form-group">
                    <label for="lot" class="col-form-label">Lot:</label>
                    <input type="text" class="form-control" id="lot" disabled>
                </div>
                <div class="form-group">
                    <label for="roomName" class="col-form-label">Room Name:</label>
                    <input type="text" class="form-control" id="roomName" disabled>
                </div>
                <div class="form-group">
                    <label for="buildingName" class="col-form-label">Building Name:</label>
                    <input type="text" class="form-control" id="buildingName" disabled>
                </div>
                <div class="form-group">
                    <label for="price" class="col-form-label">Price:</label>
                    <input type="text" class="form-control" id="price" disabled>
                </div>

            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script>
    // Simple Datatable
    let table1 = document.querySelector('#table1');
    let dataTable = new simpleDatatables.DataTable(table1);
</script>
<script>
    $(document).ready(function () {
        $(".clicking").click(function () { // Click to only happen on announce links
            $("#orderid").val($(this).data('orderid'));
            $("#status").val($(this).data('status'));
            $("#address").val($(this).data('address'));
            $('#modalEdit').modal('show');
        });
    });
</script>

<script>
    $(document).ready(function () {
        $(".clickingView").click(function () { // Click to only happen on announce links
            $("#orderId").val($(this).data('orderid'));
            $("#usernames").val($(this).data('username'));
            $("#orderDate").val($(this).data('bookingdate'));
            $("#movieName").val($(this).data('movename'));
            $("#lot").val($(this).data('lot'));
            $("#roomName").val($(this).data('roomname'));
            $("#buildingName").val($(this).data('buildingname'));
            $("#price").val($(this).data('price'));
            $("#movieImage").attr(src,$(this).data('moveimage'));

            $('#modalView').modal('show');
        });
    });
</script>
<script>
    function exportData() {
        fetch('/Admin/OrderManagement?handler=ExportFile')
            .then(response => {
                if (!response.ok) {
                    throw new Error('Export failed');
                }
                return response.blob();
            })
            .then(blob => {
                var url = window.URL.createObjectURL(blob);
                var a = document.createElement('a');
                a.href = url;
                a.download = 'data.csv';
                document.body.appendChild(a);
                a.click();
                document.body.removeChild(a);
            })
            .catch(error => {
                console.error('Export failed:', error);
                alert('Export failed. Please try again later.');
            });
    }
</script>